<!-- 
logo do projeto
meus jogos
games
top jogos do mes
descubra 1 game
usuarios
contato
perfil do usuario -->
<header>
    <nav>
        <div class="container-nav">
            <a routerLink='/home' class="navbar-title" aria-label="logo project">PlugnPlay</a>
            <ul>
                <li><a routerLink='/mygames'  class="my-games" aria-label="My Games">My Games</a></li>
                <li><a routerLink='/#' class="navbar-buttons" aria-label="Games">Games</a></li>
                <li><a routerLink='/reviews' class="navbar-buttons" aria-label="Reviews">Reviews</a></li>
                <li><a routerLink='/contact' class="navbar-buttons" aria-label="Contact">Contact</a></li>
            </ul>
        </div>
        <form role="search">
            <input type="search" placeholder="Pesquisar" aria-label="Search">
            <button type="submit">Pesquisar</button>
        </form>
    </nav>
</header>