<!-- 
logo do projeto
meus jogos
games
top jogos do mes
descubra 1 game
usuarios
contato
perfil do usuario -->
<header>
  <nav class="navbar navbar-expand-lg"  data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand navbar-title" routerLink="/home">PlugnPlay</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedCoantent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" tabindex="-1" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown my-profile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="#">Wishlist</a></li>
              <li><a class="dropdown-item" routerLink="#">My reviews</a></li>
              <li><a class="dropdown-item" routerLink="/mygames">My games</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-buttons" routerLink="/allgames">All Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-buttons" routerLink="/contact">Contact</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <div class="d-flex">
          <a routerLink="/login" class="btn btn-outline-success btn-login" type="submit">Sign In</a>
        </div>
      </div>
    </div>
  </nav>
</header>
