<!-- 
logo do projeto
meus jogos
games
top jogos do mes
descubra 1 game
usuarios
contato
perfil do usuario -->
<header>
    <nav>
        <div class="container-nav">
            <a href="" class="navbar-title" aria-label="Logo do projeto">PlugnPlay</a>
            <ul>
                <li><a href="mygames"  class="my-games" aria-label="Meus jogos">Meus jogos</a></li>
                <li><a href="#" class="navbar-buttons" aria-label="Games">Games</a></li>
                <li><a href="contact" class="navbar-buttons" aria-label="Contato">Contato</a></li>
            </ul>
        </div>
        <form role="search">
            <input type="search" placeholder="Pesquisar" aria-label="Search">
            <button type="submit">Pesquisar</button>
        </form>
    </nav>
</header>