main{
    background-color: #1e192c;
    height: 100vh;
    color: #f5fcfe;
    padding-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}
.disseminate{
    width: 30vw;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .disseminate {
        display: none;
    }
    .login-section {
        height: 100%;
    }
}
.login-section{
    width: 30vw;
}
.choose-login-signup{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 12vh;
    button{
        width: 100px;
        min-width: 100px;
        background-color: transparent;
        border: none;
        border-radius: 8px;
        transition: 0.3s;
        font-weight:500;
        cursor: pointer;
        height: 30px;
        color: white
    }
    .active{
        background-color: #7f29b4;
    }
}
.form-title{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1.8rem;
    font-weight: bold;
}
.login-form, .signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    form{
        height: 30vh;
        min-height: 330px;
        width: 330px;
        display: flex;
        align-items: center;
        flex-direction: column;
        input{
            margin-bottom: 20px;
            background: transparent;
            border: 0px;
            outline: 0px;
            color: white;
            line-height: 2;
            height: 35px;
            width: 100%;
            min-width: 250px;
            max-width: 500px;
            font-family: inherit;
            font-size: 100%;
            border-bottom: 1px solid #7f29b4;
        }
        .button-submit{
            padding-top: 5vh;
            display: flex;
            justify-content: center;
            width: 100%;
            button{
                width: 30px;
                min-width: 80px;
                height: 30px;
                border-radius: 8px;
                background: linear-gradient(270deg, rgb(50, 33, 78) -3.55%, rgb(135, 71, 175) 100.21%);
                color: white;
                border: none;
                transition: 0.3s;
                opacity: 0.5;
                font-weight: bold;
            }
            button:hover{
                opacity: 1;
            }
        }
    }
    .forgot-password{
        width: 100%;
        min-width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            color: rgb(229, 224, 68);
            cursor: pointer;
            font-weight: 500;
            border: none;
            background-color: transparent;
            transition: 0.3s;
            opacity: 0.8;
        }
        button:hover{
            opacity: 1;
        }
    }
}
.login-form form{
    margin-bottom: -20px;
}